.ph1{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.ph2{
    width: 100px;
    height: 100px;  
}
.ph3{
    width: 100px;
    height: 100px;  
}
.ph4{
    width: 100px;
    height: 100px;  
}
.color{
    background: rgb(17, 17, 17);
    color:rgb(235, 235, 235);
    
}
#change{
    color:rgb(31, 31, 31);
    width: 140px;
    height: 30px;
    background-color:rgb(111, 241, 168);
}
.menu{
    text-align: center;
}
.ph1{
    border-radius: 20px;
}
p{
    color:brown;
}